.71034_194082 { 
	overflow:hidden;
}.e71034_194082 { 
	background-color:rgba(0, 0, 0, 1);
	width:1280px;
	height:2760px;
	position:absolute;
}.e71056_192531 { 
	width:1280px;
	height:740px;
	position:absolute;
	left:0px;
	top:0px;
}.e71056_192532 { 
	width:1280px;
	height:740px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/background.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71056_192533 { 
	width:1280px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}.e71056_192534 { 
	width:755px;
	height:32px;
	position:absolute;
	left:20px;
	top:32px;
}.e71056_192535 { 
	width:156px;
	height:30px;
	position:absolute;
	left:0px;
	top:1px;
}.e71056_192536 { 
	background-color:rgba(255, 255, 255, 1);
	width:154.0593719482422px;
	height:28.880001068115234px;
	position:absolute;
	left:1.078125px;
	top:0.60009765625px;
}.e71056_192537 { 
	width:297px;
	height:32px;
	position:absolute;
	left:216px;
	top:0px;
}.e71056_192538 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71056_192539 { 
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:32px;
	position:absolute;
	left:159px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71056_192540 { 
	width:425px;
	height:32px;
	position:absolute;
	left:835px;
	top:32px;
}.e71056_192541 { 
	color:rgba(255, 255, 255, 1);
	width:222px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71056_192542 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:32px;
	position:absolute;
	left:262px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71056_192543 { 
	color:rgba(255, 255, 255, 1);
	width:822px;
	height:90px;
	position:absolute;
	left:229px;
	top:500px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e71062_192644 { 
	width:40px;
	height:40px;
	position:absolute;
	left:620px;
	top:650px;
}.e71062_192656 { 
	background-color:rgba(255, 255, 255, 1);
	width:25.414215087890625px;
	height:14.121319770812988px;
	position:absolute;
	left:7.292893409729004px;
	top:13.292893409729004px;
}.e71057_192553 { 
	width:1240px;
	height:1860px;
	position:absolute;
	left:20px;
	top:840px;
}.e71057_192554 { 
	width:1239px;
	height:672px;
	position:absolute;
	left:0.5px;
	top:0px;
}.e71057_192555 { 
	color:rgba(255, 255, 255, 1);
	width:483px;
	height:80px;
	position:absolute;
	left:378px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
}.e71057_192556 { 
	width:1239px;
	height:512px;
	position:absolute;
	left:0px;
	top:160px;
}.e71059_192613 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:405px;
	height:512px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71059_192614 { 
	width:349px;
	height:252px;
	position:absolute;
	left:28px;
	top:48px;
}.e71059_192615 { 
	width:349px;
	height:252px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/search__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71059_192616 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:68px;
	position:absolute;
	left:28px;
	top:316px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e71059_192617 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:349px;
	height:64px;
	position:absolute;
	left:28px;
	top:400px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e71059_192618 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:405px;
	height:512px;
	position:absolute;
	left:417px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71059_192619 { 
	width:349px;
	height:252px;
	position:absolute;
	left:28px;
	top:32px;
}.e71059_192620 { 
	width:349px;
	height:252px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/code__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71059_192621 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:68px;
	position:absolute;
	left:28px;
	top:300px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e71059_192622 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:349px;
	height:96px;
	position:absolute;
	left:28px;
	top:384px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e71059_192623 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:405px;
	height:512px;
	position:absolute;
	left:834px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71059_192624 { 
	width:349px;
	height:252px;
	position:absolute;
	left:28px;
	top:65px;
}.e71059_192625 { 
	width:349px;
	height:252px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/settings__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71059_192626 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:34px;
	position:absolute;
	left:28px;
	top:333px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e71059_192627 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:349px;
	height:64px;
	position:absolute;
	left:28px;
	top:383px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e71057_192572 { 
	width:1240px;
	height:852px;
	position:absolute;
	left:0px;
	top:792px;
}.e71057_192573 { 
	color:rgba(255, 255, 255, 1);
	width:560px;
	height:80px;
	position:absolute;
	left:340px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:80px;
	letter-spacing:-2;
}.e71057_192574 { 
	width:1240px;
	height:692px;
	position:absolute;
	left:0px;
	top:160px;
}.e71057_192575 { 
	width:1240px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}.e71057_192576 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:614px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71057_192577 { 
	width:558px;
	height:178px;
	position:absolute;
	left:28px;
	top:32px;
}.e71057_192578 { 
	width:558px;
	height:178px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/dispensense_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71057_192579 { 
	color:rgba(255, 255, 255, 1);
	width:558px;
	height:34px;
	position:absolute;
	left:28px;
	top:226px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e71057_192580 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:558px;
	height:32px;
	position:absolute;
	left:28px;
	top:276px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71057_192581 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:614px;
	height:340px;
	position:absolute;
	left:626px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71057_192582 { 
	width:558px;
	height:178px;
	position:absolute;
	left:28px;
	top:32px;
}.e71057_192583 { 
	width:558px;
	height:178px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/screenvend_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71057_192584 { 
	color:rgba(255, 255, 255, 1);
	width:558px;
	height:34px;
	position:absolute;
	left:28px;
	top:226px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e71057_192585 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:558px;
	height:32px;
	position:absolute;
	left:28px;
	top:276px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71057_192586 { 
	width:1240px;
	height:340px;
	position:absolute;
	left:0px;
	top:352px;
}.e71057_192587 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:614px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71057_192588 { 
	width:558px;
	height:178px;
	position:absolute;
	left:28px;
	top:32px;
}.e71057_192589 { 
	width:558px;
	height:178px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/axium_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71057_192590 { 
	color:rgba(255, 255, 255, 1);
	width:558px;
	height:34px;
	position:absolute;
	left:28px;
	top:226px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e71057_192591 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:558px;
	height:32px;
	position:absolute;
	left:28px;
	top:276px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71057_192592 { 
	background-color:rgba(17.135997489094734, 17.135997489094734, 20.399999544024467, 1);
	width:614px;
	height:340px;
	position:absolute;
	left:626px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e71057_192593 { 
	width:558px;
	height:178px;
	position:absolute;
	left:28px;
	top:32px;
}.e71057_192594 { 
	width:558px;
	height:178px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/polonez_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71057_192595 { 
	color:rgba(255, 255, 255, 1);
	width:558px;
	height:34px;
	position:absolute;
	left:28px;
	top:226px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e71057_192596 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:558px;
	height:32px;
	position:absolute;
	left:28px;
	top:276px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e71062_192646 { 
	width:1240px;
	height:96px;
	position:absolute;
	left:0px;
	top:1764px;
}.e71062_192647 { 
	width:327px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}.e71062_192648 { 
	color:rgba(255, 255, 255, 1);
	width:327px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e71062_192649 { 
	color:rgba(255, 255, 255, 1);
	width:228px;
	height:34px;
	position:absolute;
	left:0px;
	top:62px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e71062_192650 { 
	color:rgba(137.0879951119423, 137.0879951119423, 142.80000060796738, 1);
	width:893px;
	height:96px;
	position:absolute;
	left:347px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}